* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  bottom: 5px;
  font-size: 36px;
  position: relative;
  text-align: center;
  width: 25%;
}

h1 img {
  max-width: 11%;
  height:auto;
  transform: rotate(180deg);
  position: relative;
  top: 5px;
  right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

/* Header classes  */

.favorite-btn,
.recipe-book-btn {
  background: none;
  border: none;
  color: #ffffff;
  height: 50px;
  margin: -10px;
  width: 30%;
}

.favorite-btn:hover,
.recipe-book-btn:hover {
  color: #000000;
  transition: .35s ease-in-out;
}

.favorite-btn img,
.recipe-book-btn img {
  height: auto;
  max-width: 50%;
}

.filter-recipe-btns {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  left: 60px;
  padding: 25px 0px 5px;
  position: relative;
  width: 28%;
}

.search-bar {
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  height: 10%;
  width: 35%;
}

.search-btn {
  height: 50px;
  width: 14%;
}

.search-btn img {
  height:auto;
  max-width: 55%;
}

.search-input {
  font-size: 25px;
  height: 50px;
  padding: 10px;
  width: 90%;
}

/* //Main Section */

.breakfast-dinner-btns {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.breakfast {
  background-image: url('../icons/breakfast.jpeg');
}

.breakfast,
.lunch,
.dinner {
  background-position: center;
  background-size: cover;
}

.breakfast:hover,
.lunch:hover,
.dinner:hover {
  background: #e7e7e7;
}

.dinner {
  background-image: url('../icons/dinner.jpeg');
}

.filter-type-btns {
  background-color: #C4C4C4;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  height: 130px;
  margin: 0% 3%;
  width: 130px;
}

.lunch {
  background-image: url('../icons/lunch.jpeg');
}

.meals-active {
  background: #e7e7e7;
}

.welcome-header {
  padding: 30px 0px 10px;
  text-align: center;
}

/* Recipe Section  */

.add-recipe-img,
.fave-recipe-img {
  height: 100%;
  width: 80%;
}

.back,
.card-button {
  border: 1px solid black;
  height: 40px;
  width: 42px;
}

.card-buttons {
  border: none;
  width: 20%;
}

.card-header {
  display: flex;
  height: 22%;
  justify-content: space-between;
  margin: 4px 5px 7px;
}

.card-image {
  background-position: center;
  background-size: cover;
  height: 85%;
  width: 100%;
}

.indiv-recipe {
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-between;
  margin: 20px 26px;
  width: 29%;
}

.recipe-name {
  font-size: 15px;
  text-align: center;
}

.recipe-section {
  background: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 20px;
  overflow: scroll;
}

/* Single Recipe Layout */

.instructions-list {
  width: 80%;
}

.instructions-title {
  left: 85%;
  padding-top: 10px;
  position: relative;
}

.ingredients-list,
.ingredient-eval {
  width: 30%;
}

.ingredients-list,
.instructions-list,
.ingredient-eval {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 10px 10px;
}

.recipe-info {
  display: flex;
}

.recipe-info-header {
  display: flex;
}

/* JS Based styling  */

.hidden {
  display: none;
}

.hide {
  display: none;
}
